<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% assets "main_ts" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% assets "main_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% assets "main_css" %}
         <link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css" />
    {% endassets %}
</head>
<body>
<h1>Лёша - жопа.</h1>
</body>
</html>