<div class="headertop needhead">

    <div class="navbar-wrapper">
        <div class="container">

            <div class="navbar navbar-static-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">АвтоЛОТ</a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li style=""><!--<span >--><a href="/" target="_self">Главная</a><!--</span>--></li>
                            <li style=""><!--<span >--><a href="/statistics" target="_self">Статистика аукционов</a>
                                <!--</span>--></li>
                            <li style=""><!--<span >--><a href="/auction" target="_self">Аукционы Японии</a>
                                <!--</span>--></li>
                            <li style=""><!--<span >--><a href="/news" target="_self">Новости</a><!--</span>--></li>
                            <li style=""><!--<span >--><a href="/feedback" target="_self">Контакты</a><!--</span>-->
                            </li>
                            <li style=""><!--<span >--><a href="/articles" target="_self">Статьи</a><!--</span>--></li>
                        </ul>
                        <div class="navbar-form navbar-right">
                            <span><a class="btn btn-primary" href="/login">Вход</a></span>
                            <span><a class="btn btn-primary" href="/registration">Регистрация</a></span>
                        </div>
                        <style>
                            .navbar-wrapper a.btn {
                                color: #fff;
                            }
                        </style>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- PAGE HEADER -->
    <div class="page-header">
        <div class="shine">
            <div class="container">
                <div class="row-fluid">
                    <div class="span12">

                        <div class="row-fluid">
                            <div class="span12">
                                <h2>АвтоЛОТ - статистика продаж автомобилей на аукционах Японии</h2>
                                <!-- BREADCRUMB -->
                                <!--END: BREADCRUMB -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- PAGE HEADER -->
</div>