<header>
    {% if request.path ==  '/news' %}
        Новости
    {% endif %}
    <ul>
        <li><a class="button" href="/login">logo</a></li>
        <li><a class="button" href="/login">Вход</a></li>
        <li><a class="button" href="/registration">Регистрация</a></li>
    </ul>
    <ul>
        <li><a href="/" target="_self">Главная</a></li>
        <li><a href="/statistics" target="_self">Статистика аукционов</a></li>
        <li><a href="/auction" target="_self">Аукционы Японии</a></li>
        <li><a href="/news" target="_self">Новости</a></li>
        <li><a href="/feedback" target="_self">Контакты</a></li>
        <li><a href="/articles" target="_self">Статьи</a></li>
    </ul>
</header>